@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;">
            <div class="card-body">
                <form>
                    <div class="form-group">
                    <h3 class="card-title">Register</h3>
                    <hr>
                    <div class="form-group">
                        <label for="exampleInputFirstName">First Name</label>
                        <input type="firstName" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="lastName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDateOfBirth">Date Of Birth</label>
                        <input type="date" class="form-control" value="mm/dd/yyyy">
                    </div>
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Account <i class="fa fa-user-plus"></i></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>