@model ApplicationCore.Models.PurchasedMovieResponseModel


 <div class="card mb-4 shadow bg-light ">  
     <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title" />
     <div class="card-footer bg-dark text-white" style="text-align:center; font-size:12px">
          Purchase Details
     </div>
 </div>